/* Default*/
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
.hidden-block{
    opacity:0;
}
.visible{
    opacity:1;
}

.learn-more,
.learn-more:hover,
.learn-more:visited,
.learn-more:link,
.sheer-button,
.sheer-button:visited,
.sheer-button:link,
.header-section,
footer
{
    color: #fff;
}
header,
.sheer-button,
footer,
.main,
.caption {
    text-align: center;
}
.learn-more,
.learn-more:hover,
.learn-more:visited,
.learn-more:link,
.sheer-button,
.sheer-button:hover,
.sheer-button:visited,
.sheer-button:link{
    text-decoration: none;
}
span,
.learn-more,
.learn-more:hover{
    font-weight: bold;
}

/*Header*/
header {
    font-family: "Bad Script", serif;
    background: url("../images/v1vFnBXBJ40.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}
.cont_header{
    margin-right: 30px;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: 0!important;
}
.header_ulnav{
    display: inline-block;
    float: right;
    list-style: none;
    margin-right: 20px;
}
.header_ulnav li{
    display: inline-block;
    margin-right: 20px;
}
.header_ulnav li a{
    color: #fff;
    opacity: .8;
}
.header_ulnav li a:hover,
.header_ulnav li a:focus{
    text-decoration: none;
    opacity: 1;
}
.lang{
    letter-spacing: 5px;
    display: inline-block;
    float: right;
}
.lang a:hover{
    text-decoration: none;
}
.button-section{
    margin-top: 100px;
}
.sheer-button {
    font-family: "Bad Script", sans-serif;
    padding: 20px 60px;
    font-size: 1.5em;
    border: 1px solid #fff;
    outline: none;
}
.sheer-button:hover{
    background: #fff;
    color: #000;
    -webkit-transition: background 1s ease-out 0.1s;
    -moz-transition: background 1s ease-out 0.1s;
    -o-transition: background 1s ease-out 0.1s;
    transition: background 1s ease-out 0.1s;
}
.header_nav{
    padding-top: 20px;
}
.header-section {
    padding-top: 160px;
}
.learn-more{
    font-size: 1.5em;
    color: black !important;
    position: relative;
    top: 310px;
}
.learn-more span{
    margin-left: 10px;
}
/*Main*/
.main, .caption, footer {
    font-family: "Bad Script", serif;
}
.caption {
    margin-top: 30px;
}
.container {
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 1px;
    padding: 50px 0 100px;
}
#proj{
    background: #f3f5f8;
}
.text{
    margin-top: 5%;
}
.navi, .navi:hover {
    color: #bd3f26;
    margin: 0 2.5%;
    text-decoration: underline;
}
#back-to-top{
    display: none;
    opacity: 0.5
}
#back-to-top img {
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#back-to-top:hover{
    opacity: 1;
    -webkit-transition: opacity .6s ease-out 0.1s;
    -moz-transition: opacity .6s ease-out 0.1s;
    -o-transition: opacity .6s ease-out 0.1s;
    transition: opacity .6s ease-out 0.1s;
}

/*Footer*/
footer {
    margin-top: 60px;
    padding-top: 2.5%;
    height: 85px;
    background-color: #000;
}
/*Phone*/
@media screen and (max-width: 320px) {
    header {
        height: 160px;
    }
    .header {
        padding-top: 3%;
    }
    .sheer-button {
        font-size: 1.7rem;
    }
    .header-section {
        padding: 0;
        font-size: 5%;
    }
    .navi, .navi:hover {
        margin: 0 1.5%;
    }
}
/*Tablet*/
@media screen and (min-width: 321px) and (max-width: 768px){
    header {
        height: 350px;
    }
  }
