/*Global*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background: #e8e8e8;
}
h3, .btn{
    font-weight: bold;
}
.main-container{
  margin: 0 45px;
  background: white;
}
/*Header*/
.header-section{
    width: 1250px;
    margin: 5px auto;
    padding: 5px 0;
}
.news-star{
    padding: 6px 20px;
    border-bottom: 1px solid #d5d5d5;
}
.news-star a{
    text-decoration: none;
    color: black;
}
.logo, .menu{
    display: inline;
}
.logo img{
    width: 200px;
}
.menu a{
    margin-left: 0;
    padding: 10px 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
}
.menu a:hover{
    text-decoration: none;
    border-bottom: 2px solid rgb(16, 109, 254);
}
#fak{
    background: rgb(16, 109, 254);
    color: white; !important;
    text-decoration: none;
}
#fak:hover{
    border: none;
}

/*Main*/
.news{
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background: white;
}
.news h3{
    text-align: center;
}
.news-block{
    padding: 15px;
    text-align: justify;
}
.news-image {
    width: 100%;
    margin-bottom: 10px;
}
.btn{
    background: white;
    color: rgb(16, 109, 254);
    border: 2px solid rgb(16, 109, 254);
}
.btn-sub, .btn:hover{
    background: rgb(16, 109, 254);
    color: white;
}
.btn:hover{
    transition: background .5s linear;
}
/*Online reading*/
.reading{
  padding: 30px 60px;
}
.description{
  padding-left: 100px;
}
.table{
  margin-top: 30px;
}
.descipline-block{
  margin-bottom: 20px;
}
.project-container{
    display: table;
    content: '';
}
.project-block{
    padding: 10px 0 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.project-text{
    text-align: right;
}
.video-block{
    padding-top: 25px;
}
.text-align{
    text-align: center;
}
/*Footer*/
.info{
    padding: 20px;
    background: #1b2d3b;
    color: white;
}
.sub{
    margin: 0 auto;
    text-align: center;
}
input{
    margin-right: 10px;
}
.copyright{
    text-align: end;
}
.Vk, .Youtube, .Instagram, .social p{
    display: inline;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*NEWS*/
.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel p
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
}
/*Tab*/
.tab-pane a img
{
    margin: 50px 90px;
    width: 440px;
    height: 567px;
}
.nav-tabs
{
    background: #9FA8DA;
}
.tab-pane
{
    background: #C5CAE9;
}
.nav-tabs li a
{
    color: #000;
}
